<!-- <div ng-controller='dashboardCtrl'>                     
  <div ng-if='events.fetch'>
    <ul>
      <li ng-repeat="event in events.list"> {{ event.name}} {{event.time}}</li>
    </ul>
  </div>
</div> -->

<div ng-controller="AppCtrl" layout="column" style="height:70px;" ng-cloak>
<!-- NAV BAR -->

<!--
 <md-content>
-->
   <md-toolbar>
     <div class="md-toolbar-tools">
       <h2>
         <span>Toolbar with Standard Buttons</span>
       </h2>
       <span flex></span>
       <md-button class="md-raised" aria-label="Learn More">
         Learn More
       </md-button>
       <md-button class="md-fab md-mini" aria-label="Favorite">
         <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
       </md-button>
     </div>
   </md-toolbar>
<!--
 </md-content> -->
</div>

<!-- NAV BAR END -->

 <section layout="row" flex>
   <md-sidenav
       class="md-sidenav-left"
       md-component-id="left"
       md-is-locked-open="$mdMedia('gt-md')"
       md-disable-backdrop
       md-whiteframe="4">
     <md-toolbar class="md-theme-indigo">
       <h1 class="md-toolbar-tools">Sidenav Left</h1>
     </md-toolbar>
     <md-content layout-padding ng-controller="LeftCtrl">
       <md-button ng-click="close()" class="md-primary" hide-gt-md>
         Close Sidenav Left
       </md-button>
       <p hide-md show-gt-md>
         This sidenav is locked open on your device. To go back to the default behavior,
         narrow your display.
       </p>
     </md-content>
   </md-sidenav>
   <md-content flex layout-padding>
     <div layout="column" layout-fill layout-align="top center">

     <button >NEW EVENT</button>

         <!-- notification Box -->
                           <div ng-controller="SubheaderAppCtrl" layout="column" flex layout-fill ng-cloak>
                 <md-toolbar md-scroll-shrink>
                   <div class="md-toolbar-tools">My Messages</div>
                 </md-toolbar>
                 <md-content style="height: 200px;" md-theme="altTheme">
                   <section>
                     <md-subheader class="md-primary">Unread Messages</md-subheader>
                     <md-list layout-padding>
                       <md-list-item class="md-3-line" ng-repeat="message in messages">
                           <!-- <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}"> -->
                    <div ng-controller='dashboardCtrl'>                     
  <div ng-if='events.fetch'>
    <ul>
      <li ng-repeat="event in events.list"> {{ event.name}} {{event.time}}</li>
    </ul>
  </div>
</div>
                       </md-list-item>
                     </md-list>
                   </section>

                 </md-content>
               </div>

             <!-- Notification END -->

     </div>
     <div flex></div>
   </md-content>
   <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
     <md-toolbar class="md-theme-light">
       <h1 class="md-toolbar-tools">Sidenav Right</h1>
     </md-toolbar>
     <md-content ng-controller="RightCtrl" layout-padding>
       <form>
         <md-input-container>
           <label for="testInput">Test input</label>
           <input type="text" id="testInput"
                  ng-model="data" md-autofocus>
         </md-input-container>
       </form>
       <md-button ng-click="close()" class="md-primary">
         Close Sidenav Right
       </md-button>
     </md-content>
   </md-sidenav>
 </section>
</div>