<!--- nav bar start -->
<div ng-controller="AppCtrl" layout="column" style="height:70px;" ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">

      <h1 sty`le="font-size: 30px; font-weight: bold;" class = "open" ng-click="toggleLeft()"> Open2</h2>
      <span flex></span>

      <md-button class="md-warn md-raised md-hue-2" ng-click="logout()">logout</md-button>
     </div>
   </md-toolbar>
</div>
<!-- nav bar end -->

<!-- friends list -->
<section layout="row" flex>
  <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-disable-backdrop md-whiteframe="4">
    <md-toolbar class="md-theme-indigo" ng-controller="LeftCtrl">
      <h3 class= "open" ng-click="close()" >my friends</h1>
      </md-toolbar>
      <md-content layout-padding ng-controller="LeftCtrl">
        <ul ng-controller = 'dashboardCtrl' >
          <table class="centered striped bordered">
            <thead>
              <th data-field="id" class="friendsTitle">Friends</th>
            </thead>
            <tbody>
              <tr ng-repeat='friend in friends'>
                <td class="friendsNames">{{friend.username}}</td>
              </tr>
            </tbody>
          </table>



     <!-- <div ng-repeat = 'friend in friends'>
                <md-card md-colors="::{backgroundColor: '{{theme}}-primary-700'}">
            <md-card-title>
              <md-card-title-media>
                <div class="md-media-sm card-media" layout layout-align="center center"
                     md-colors="::{background: '{{theme}}-accent'}">
                  <md-icon md-svg-icon="person"></md-icon>
                </div>
              </md-card-title-media>
              <md-card-title-text>
                <span class="md-headline">{{friend.username}}</span> -->
          <!--       <span class="md-subhead description">This card is colored according the {{theme}} theme</span> -->
              <!-- </md-card-title-text>
            </md-card-title>
          </md-card>
      </div> -->


      </ul>

     </md-content>
   </md-sidenav>


   <md-content flex layout-padding>
     <div layout="column" layout-fill layout-align="top center">

<!-- button start -->
<div ng-controller="dashboardCtrl" class="md-padding" id="popupContainer" ng-cloak>
  <p class="inset"> Ask my friends if they are open 2? </p>

  <div class="dialog-demo-content" layout="row" layout-wrap layout-margin layout-align="center">

    <!-- event button -->
    <md-button class="md-primary md-raised" ng-click="showAdvanced($event)" flex class="md-warn"> new event</md-button>

  </div>

</div>

     <!-- notification Box -->
<div id = 'eventContainer' ng-controller="SubheaderAppCtrl" layout="column" flex layout-fill ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools open" style="font-size: 30px;">my events</div>
  </md-toolbar>
  <md-content md-theme="altTheme">

  <div ng-controller='dashboardCtrl'>
  <div ng-if='events.fetch'>
  
    <ul id = 'eventsList'>
    <h2> new events </h2>
      <li ng-repeat="event in events.list | reverse" style = "list-style: none">
        <span style = "font-weight: bold" > {{event.username}} wants to {{ event.eventname}} </span>
        <span> {{event.timestamp.slice(11, 19)}}</span>

        <md-button   ng-click="join(event.id, event.status)" class="md-warn md-raised md-hue-2"> {{event.status}} </md-button>
       </li>

</ul>
 
 <ul id = 'eventsIgoTo'>
 <h2>events I attend </h2>
      <li ng-repeat="event in events.eventsIgoTo | reverse" style = "list-style: none">
        <span style = "font-weight: bold" > I want to {{ event.eventname}} </span>
        <span> {{event.timestamp.slice(11, 19)}}  </span>

        <md-button   ng-click="join(event.id, event.status)" class="md-warn md-raised md-hue-2"> {{event.status}}</md-button>
       </li>

</ul>

  </div>
  </div>
  </md-content>
</div>
<!-- Notification END -->

     </div>

   </md-content>

 </section>
