<div class="login-form">
  <h1>Open2</h1>
  <div>Sign Up Now!</div>
  <div class="form-group" ng-controller = "signupCtrl">
    <form action="/" id="myLogin">
    <md-input-container md-no-float="" class="md-block">
    <input class="login-form" type="text" name="username" ng-model="username"placeholder="Username">
    </md-input-container>
    <md-input-container md-no-float="" class="md-block">
    <input type="password" name="password"ng-model="password" placeholder="Password">
    </md-input-container>

    <md-button class="md-warn md-raised md-hue-2"  ng-click="submit()" aria-label="Eat cake"> Sign Up!
    </md-button>
    </form>
  </div>
</div>